*{
	margin: 0;
	padding: 0;
	font-family: cursive;
}
body{
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: rgba(0, 0, 0, 0.752);
}
.main{
	position: relative;
	min-height: 80vh;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #232427;
	border-radius: 8px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
	 inset -5px -5px 15px rgba(255,255,255,0.1),
	 5px 5px 15px rgba(0,0,0,0.3),
	 -5px -5px 15px rgba(255,255,255,0.1);
}
.main button{
	padding: 10px 12px;
	margin: 0 10px;
}
.main #logo{
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 25px;
	color: #ccc;
}
.main #logo i{
	margin-right: 15px;
}

/* left & right part */
.left{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* song image */
.left img{
	height: 300px;
	width: 80%;
	border-radius: 15px;
	object-fit: cover;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
	 inset -5px -5px 15px rgba(255,255,255,0.1),
	 5px 5px 15px rgba(0,0,0,0.3),
	 -5px -5px 15px rgba(255,255,255,0.1);
	 padding: 5px;
}

/* both range slider part */
input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 10px;
	margin: 0 15px;
	overflow: hidden;
	border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 10px;
	width: 10px;
	background: #1DB954;
	cursor: pointer;
	box-shadow: -415px 0 0 400px #1DB954;
}
.right input[type=range]{
	width: 40%;
}

/* volume part */
.left .volume{
	margin-top: 25px;
	width: 80%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
/*	border: 1px solid #fff;*/
}
.volume input[type="range"] {
	flex: 1;
}
.left .volume p{
	font-weight: bold;
	font-size: 15px;
}
.left .volume i{
	cursor: pointer;
	padding: 8px 12px;
	background: #1DB954;
}
.left .volume i:hover{
	background: rgba(245,245,245,0.1);
}
.volume #volume_show{
	padding: 8px 12px;
	margin: 0 5px 0 0;
	background: rgba(245,245,245,0.1);
}

/* right part */
.right{
	width: 50%;
	padding: 10px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
 .right .middle{
 	width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
}
.right .middle button{
	border: none;
	height: 70px;
	width: 70px;
	border-radius: 50%;	
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	background: #232427;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
	 inset -5px -5px 15px rgba(255,255,255,0.1),
	 5px 5px 15px rgba(0,0,0,0.3),
	 -5px -5px 10px rgba(255,255,255,0.1);
}
.song_detail{
	position: relative;
	width: 80%;
	overflow: hidden;
	margin-bottom: 6.5em;
/*	border: 1px solid #fff;*/
}
.song_detail #title{
	text-transform: capitalize;
	color: #fff;
	font-size: 35px;
}
.song_detail #artist{
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
	margin-top: 5px;
}
.right .duration{
	margin-top: 3em;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
/*	border: 1px solid #fff;*/
}
.duration input[type="range"] {
	flex: 1;
}
.right #auto{
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	border: none;
	padding: 5px 7px;
	color: #fff;
	background: rgba(255,255,255,0.2);
	outline: none;
	border-radius: 10px;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2),
	 inset -2px -2px 5px rgba(255,255,255,0.1),
	 5px 5px 15px rgba(0,0,0,0.3),
	 -5px -5px 15px rgba(255,255,255,0.1);
}
#play{
	background: #1DB954;
}
.right button:hover{
	background: #1DB954;
}
.right i:before{
	color: #fff;
	font-size: 20px;
}  
  .button {
	font-size: 1em;
	padding: 10px;
	color: #fff;
	border: 2px solid #06D85F;
	border-radius: 20px/50px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
  }
  .button:hover {
	background: #06D85F;
  }
  
  .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	margin: 200px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
  }
  
  .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .popup .close:hover {
	color: #06D85F;
  }
  .popup .content {
	max-height: 30%;
	overflow: auto;
  }
  
  @media screen and (max-width: 700px){

	.popup{
	  width: 70%;
	}
  }

/*responsive*/
@media(max-width: 700px){
	.main{
		min-height: 100vh;
		width: 100%;
		flex-direction: column;
	}
	.right{
		margin-top: 50px;
		width: 60%;
	}
	.right .duration{
        width: 90%;
	}
	.left{
		margin-top: 5em;
	    width: 60%;
	}
	.left img{
        min-width: 90%;
        height: 180px;
	}
	.main #logo{
		display: none;
	}
	.song_detail{
		position: absolute;
		top: 5px;
		left: 10px;
		width: 80%;
		height: 70px;
	}
	.song_detail #title{
		font-size: 1.8em;
	}
}

@media(max-width: 500px){
	.main{
		min-height: 100vh;
		width: 100%;
		flex-direction: column;
	}
	.right{
		margin-top: 50px;
		width: 80%;
	}
	.left{
		margin-top: 5em;
	    width: 80%;
	}
	.left img{
        min-width: 90%;
        height: 180px;
	}
	.main #logo{
		display: none;
	}
	.song_detail{
		position: absolute;
		top: 5px;
		left: 10px;
		width: 80%;
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 30px;
		margin-left: 30px;
		align-items: center;
	}
	.song_detail #title{
		font-size: 1.5em;
	}
	.song_detail #artist{
		font-size: 0.8em;
	}
	.right .middle button{
		height: 62px;
	    width: 62px;
	}
}
